/* Reset de estilos y estilos generales */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #1a1a2e; /* Cambiamos el color de fondo a un azul oscuro */
    color: #fff;
}

/* Header con imagen de fondo y superposición */
header {
    position: relative;
    height: 100vh; /* Cambiamos a 100% de la altura de la ventana */
    background-image: url('../img/fondoheader.jpg'); /* Ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centramos el contenido verticalmente */
    padding: 20px 50px; /* Ajustamos el padding del header */
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    box-sizing: border-box;
    z-index: 2;
    background-color: rgba(26, 26, 46, 1); /* Fondo con opacidad */
}

nav .logo {
    cursor: pointer;
}

nav .logo img {
    max-height: 80px;
    width: auto;
    max-width: 100%;
}

nav .menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

nav .menu-icon .bar {
    background-color: #fff;
    height: 5px;
    width: 30px;
    margin: 6px 0;
}

nav .nav-list {
    display: flex;
    list-style: none;
}

nav .nav-list li {
    margin-right: 20px;
}

nav .nav-list a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

nav .nav-list a:hover {
    color: #f39c12;
}

.header-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
}

.header-content h1 {
    font-size: 6em;
}

.header-content h2 {
    font-size: 2em;
}

main {
    width: 99%;
    margin: 20px auto 0;
}

.section {
    margin-bottom: 40px;
}

.section,
footer {
    padding: 20px;
}

.section {
    background: linear-gradient(to right, #34495e, #596a7b);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    overflow: hidden;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s ease-out forwards;
}

.section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-content h2 {
    font-size: 1.8em;
    color: #95a5a6;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #2980b9;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.8em;
    color: #d8d7d7;
}

footer {
    text-align: center;
    background-color: #1a252f;
    color: #fff;
    margin-top: 20px;
}

.go-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #12486b;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.go-top-btn.show {
    opacity: 1;
    transform: translateY(0);
}

.go-top-btn:hover {
    background-color: #0e2f46;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #fff;
}

/* Estilos para el menú móvil */

.menu-icon div {
    height: 4px;
    width: 100%;
    background: #fff;
    margin: 6px 0;
    transition: 0.3s ease-in-out;
}

.mobile-menu.show {
    display: block;
}

.mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-menu li {
    margin-bottom: 10px;
}



.menu-icon {
    font-size: 24px; /* Ajusta el tamaño del icono del menú según tus preferencias */
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 60px; /* Ajusta la distancia desde la parte superior según tus preferencias */
    right: 0;
    background-color: #1a1a2e; /* Ajusta el color de fondo según tus preferencias */
    border: 1px solid #000; /* Ajusta el color del borde según tus preferencias */
    border-radius: 5px; /* Ajusta la curvatura de los bordes según tus preferencias */
}

.mobile-menu a {
    display: block;
    padding: 10px 20px; /* Ajusta el espaciado interno según tus preferencias */
    color: #fff; /* Ajusta el color del texto según tus preferencias */
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.mobile-menu a:hover {
    background-color: #2c3e50; /* Ajusta el color de fondo al pasar el mouse según tus preferencias */
}


@media only screen and (max-width: 600px) {
    nav .menu-icon {
        display: flex;
    }

    nav .nav-list {
        display: none;
    }

    nav .nav-list.show {
        position: absolute;
        top: 60px;
        right: 0;
        width: 30%; /* Cambiado a ocupar el 100% del ancho */
        background-color: #1a1a2e;
        border: 2px solid #000;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        z-index: 3;
        display: flex;
        flex-direction: column;
        align-items: center; /* Alineación de las opciones al centro */
    }

    nav .nav-list.show li {
        margin: 10px 0; /* Espaciado entre las opciones */
    }

    nav .nav-list.show a {
        padding: 10px; /* Espaciado interno de las opciones */
        width: 100%; /* Ocupar el 100% del ancho del contenedor */
        text-align: center; /* Alinear texto al centro */
    }
}
